Repository atlasconsulting/nuxt-bedita, pull requests merged in 2023-12, with the labels that each got.

#1 Github workflows
  .github/workflows/javascript.yml
  .github/workflows/release.yml
  package.json
Labels: enhancement

#2 Improve module setup
  package-lock.json
  package.json
  playground/app.vue
  src/module.ts
  src/runtime/composables/useBeditaAuth.ts
  src/runtime/server/api/bedita/auth/login.post.ts
  src/runtime/server/api/bedita/auth/logout.get.ts
  src/runtime/server/utils/recaptcha.ts
  src/runtime/server/utils/session.ts
  src/runtime/types.ts
  src/runtime/utils/user-data-store.ts
Labels: enhancement, release:patch

#3 Fx release workflow
  .github/workflows/release.yml
Labels: release:patch, CI

#4 ci(release): handle package registry and commit bot
  .github/workflows/release.yml
  package.json
Labels: release:patch
